*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(54, 53, 53);
}
.corpo{
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(36, 35, 35);
    display: block;   
    margin: auto;
    max-width: 500px;
    width: 300px;
    height: 280px;
    margin-top: 100px;
    position: relative;
    padding: 30px;
    overflow: hidden;
}
.corpo::before{
    content: '';
    position: absolute;
    width: 140px;
    height: 200%;
    margin-top: -200px;
    background-color: rgb(28, 211, 211);
    animation: animate 5s linear infinite;
    margin-left: 100px;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.corpo::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #333;
    border-radius: 5px;
}

.conteudo{
    position: relative;
    z-index: 10;
}


div{
    display: block;
}
h1{
    text-align: center;
    color: rgb(28, 211, 211);
}
label{
    display: inline-block;
    font-size: 24px;
    color: rgb(104, 104, 104);
    transition: 1s;
}
.input{
    height: 1px;
    width: 300px;
    max-width: 80%;
    background-color: rgb(28, 211, 211);
    transition: 1s;
    display: block;
}

button{
    background-color: rgb(28, 211, 211);
    width: 100px;
    font-family: fantasy;
    border-radius: 8px;
    display: block;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    
}

.login{
    padding-top: 20px;
}
.forgotpassword{
    margin-top: 15px;
    color: rgb(104, 104, 104);
    width: 115px;
    display: inline-block;
    font-size: 15px;
}
.signup{
    display: inline-block;
    width: 50px;
    color: rgb(28, 211, 211);
    margin-left: 100px;
    font-size: 12px;
}

/*.h2username:focus-within, .h2password:focus-within{
    color: rgb(28, 211, 211);
    font-size: 14px;
}
*/
.login:focus-within .input{
    height: 20px;
    transition: 1s;
}
.login:focus-within .h2username, .login:focus-within .h2password{
    color: rgb(28, 211, 211);
    font-size: 15px;
    transition: 1s;
}